.login {
  display: grid;
  place-items: center;
  height: 100vh;

  & > div {
    display: flex;
    flex-direction: column;

    & > img {
      object-fit: contain;
      height: 150px;
    }
  }

  & > button {
    width: 300px;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
    transition: all 0.6s ease-in-out;

    &:hover {
      background-color: #0f7283;
      color: #fff;
    }
  }
}